## 03. 파이썬 문자열
파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

실행 예 <br>
p t

In [ ]:
letters = 'python'
print(***)

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요. <br>
license_plate = "24가 2210" <br>
실행 예: 2210

In [ ]:
license_plate = "24가 2210"
print(***)

### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요. <br>
string = "홀짝홀짝홀짝" <br>
실행 예: <br>
홀홀홀

In [ ]:
string = "홀짝홀짝홀짝"
print(***)

홀홀홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요. <br>
string = "PYTHON" <br>
실행 예: <br>
NOHTYP

In [ ]:
string = "PYTHON"
print(***)

NOHTYP

### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요. <br>
phone_number = "010-1111-2222" <br>
실행 예 <Br>
010 1111 2222

In [ ]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.***(***, ***)
print(phone_number1)

010 1111 2222

### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [ ]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.***(***, ***)
print(phone_number1)

01011112222

### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요. <br>
url = "http://sharebook.kr" <br>
실행 예: <br>
kr

In [ ]:
url = "http://sharebook.kr"
url_split = url.***(***)
print(***)

kr

### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

```
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
```

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

```
string = 'abcdfe2a354a32a'
```

실행 예: <BR>
Abcdfe2A354A32A

In [ ]:
string = 'abcdfe2a354a32a'
string = string.***(***, ***)
print(string)

Abcdfe2A354A32A

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.
```
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
```

### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.
```
>> a = "3"
>> b = "4"
>> print(a + b)
```

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

`>> print("Hi" * 3)`

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

```
실행 예:
--------------------------------------------------------------------------------
```

In [ ]:
print(***)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

```
>>> t1 = 'python'
>>> t2 = 'java'
```
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

```
실행 예:
python java python java python java python java
```

In [ ]:
t1 = "python"
t2 = "java"
t3 = ***
print(***)

python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
```
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(***)
print(***)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(***)
print(***)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(***)
print(***)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

`상장주식수 = "5,969,782,550"`

정수형으로 타입을 변환하려면 int( ) 함수를 사용하면 됩니다. 이때 숫자 형태의 문자열에 컴마가 있는 경우 바로 변환된지 않습니다. 먼저 문자열의 replace 메서드로 컴마를 제거한 후 변환해야합니다.

In [ ]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.***(***, ***)
타입변환 = ***(컴마제거)
print(타입변환, ***(타입변환))

5969782550 <class 'int'>

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

`분기 = "2020/03(E) (IFRS연결)"`

문자열에서 슬라이싱을 사용하면 여러 글자를 접근할 수 있습니다.

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(***)

2020/03

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

`data = "   삼성전자    "`

문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

In [ ]:
data = "   삼성전자    "
data1 = data.***()
print(data1)

삼성전자

### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

`ticker = "btc_krw"`

upper 메서드를 호출하면 문자열을 대문자로 만들 수 있습니다. 다만 이 경우에도 원본 문자열은 유지되고 대문자로 변경된 새로운 문자열 객체가 반환되는 겁니다. 반환된 새로운 객체를 새로운 변수로 바인딩한 후 이를 print 함수로 출력하면 됩니다.

In [ ]:
ticker = "btc_krw"
ticker1 = ticker.***()
print(ticker1)

BTC_KRW

### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

`ticker = "BTC_KRW"`

In [ ]:
ticker = "BTC_KRW"
ticker = ticker.***()
print(ticker)

btc_krw

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [ ]:
a = "hello"
a = a.***()
print(a)

Hello

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [ ]:
file_name = "보고서.xlsx"
file_name.***("xlsx")

True

### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [ ]:
file_name = "보고서.xls"
file_name.endswith((***))

True

### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.***("2020")

True

### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요. <br>
`a = "hello world"`

문자열의 split() 메서드를 사용하면 문자열에서 공백을 기준으로 분리해줍니다.

In [ ]:
a = "hello world"
a.***()

['hello', 'world']

### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

`ticker = "btc_krw"`

문자열에서 split() 메서드는 문자열을 분리할 때 사용합니다. 이때 어떤 값을 넘겨주면 그 값을 기준으로 문자열을 분리해줍니다.

In [ ]:
ticker = "btc_krw"
ticker.***(***)

['btc', 'krw']

### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

`date = "2020-05-01"`

In [ ]:
date = "2020-05-01"
date.***(***)

['2020', '05', '01']

### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

`data = "039490     "`

rstrip() 메서드를 사용하면 오른쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다. 그 값을 data라는 변수가 새로 바인딩합니다. 기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제됩니다.

In [ ]:
data = "039490     "
data = data.***()
print(data)

039490