## 08. 파이썬 반복문

파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. <br> 
파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

### 131
for문의 실행결과를 예측하라.

```python
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
```

정답: <br>
사과, 귤, 수박

### 132
for문의 실행결과를 예측하라.

```python
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```


(💡hint: for문의 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"는 것입니다. <br>
`과일 = ["사과", "귤", "수박"]` 에는 세 개의 데이터가 저장돼 있습니다. <br>
들여쓰기된 `print("#####")`코드가 몇 번 실행될까요?)

정답: <br>
세 번

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("과일")

과일
과일
과일

### 133
다음 for문과 동일한 기능을 수행하는 코드를 작성하세요.
```python
for 변수 in ["A", "B", "C"]:
  print(변수)
```
(💡 파이썬 인터프리터가 어떤 순서로 코드를 실행하는지 떠올려 보세요. <br>
 "변수 바인딩(라인 1) -> 변수 출력 (라인 2)" 과정을 자료구조 데이터 개수 만큼 반복합니다.)

In [5]:
변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

### 134
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
```python
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [7]:
변수 = ['A','B','C']
print("출력:", 변수[0])
print("출력:", 변수[1])
print("출력:", 변수[2])

출력: A
출력: B
출력: C

### 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
```python
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

(💡 들여쓰기된 코드의 내용은 중요하지 않습니다. <br>
파이썬 인터프리터가 코드를 해석하는 순서를 익히는 것이 중요합니다. <br>
라인1의 for문이 실행되면 변수에 첫 번재 데이터를 바인딩합니다. <br>
그리고 들여쓰기된 라인 2의 코드를 실행합니다. <br>
들여쓰기된 코드의 실행이 끝나면 라인 1로 이동해서 변수에 두 번째 데이터를 바인딩합니다. <br>
그리고 들여쓰기된 코드를 실행합니다. <br>
다음으로 변수 "C"를 바인딩하고 출력하면 되겠죠?)

In [11]:
변수 = ['A','B','C']

b = 변수[0].lower()
print('변환:', b)
b = 변수[1].lower()
print('변환:', b)
b = 변수[2].lower()
print('변환:', b)

변환: a
변환: b
변환: c

### 136
다음 코드를 for문으로 작성하라.

```python
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

(💡 hint: for문은 동일한 루틴을 반복해서 실행하는 문법이었습니다. 우선 문제에서 변하지 않고 반복되는 코드를 찾아보세요. 반복되는 코드는 들여쓰기로 표현하고 for문에서 변하는 부분을 기술해 줍니다.)

10
20
30

다음과 같이 리스트 변수에 데이터를 바인딩하고, 변수를 for문의 자료구조 자리에 넣어줘도 됩니다.

In [6]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)

10
20
30

### 137
다음 코드를 for문으로 작성하라.
```python
print(10)
print(20)
print(30)
```

(💡 hint: 값을 바인딩하는 코드가 생략된 코드입니다. 그렇다해도 for문으로 변경할 수 있어야합니다. 변하는 부분은 값 10, 20, 30입니다. 변하지 않는 부분은 print() 코드입니다. 변하는 부분은 for문과 함께 리스트로 처리하고 변하지 않는 코드는 들여쓰기와 함께 적어줍니다.)

In [15]:
for 변수 in ['10','20','30']:
    print(변수)

10
20
30

### 138
다음 코드를 for문으로 작성하라.
```python
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```
(💡hint: 변하는 값을 변수에 바인딩하고, 변수를 사용해서 나머지 코드를 작성합니다. 변하는 부분은 for문과 함께 리스트로 처리하고 변하지 않는 코드는 들여쓰기와 함께 적어줍니다.)

In [16]:
for 변수 in ['10','20','30']:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

### 139
다음 코드를 for문으로 작성하라.
```python
print("++++")
print(10)
print(20)
print(30)
```

In [17]:
for 변수 in ["++++",'10','20','30']:
    print(변수)

++++
10
20
30

### 140
다음 코드를 for문으로 작성하라.
```python
print("-------")
print("-------")
print("-------")
print("-------")
```

In [18]:
for 변수 in ['10','20','30','40']:
    print('-------')

-------
-------
-------
-------

### 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
```python
리스트 = [100, 200, 300]
```
```plain text
110
210
310
```

In [20]:
리스트 = [100, 200, 300]
for 가격 in 리스트:
    종가 = 가격+10
    print(종가)

110
210
310

### 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```python
리스트 = ["김밥", "라면", "튀김"]
```
```plain text
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

(💡 hint: for문을 사용하지 않고 문자열을 출력하는 코드를 작성해 봅시다. 011번 문제와는 리스트안의 데이터 타입이 문자열이라는 것이 차이점입니다. 문자열의 덧셈은 두 문자열을 이어붙입니다. 변하는 값은 for문의 자료구조 자리에, 변하지 않는 코드는 들여쓰기 후에 작성합니다.)

In [21]:
리스트 = ["김밥", "라면", "튀김"]
for menu in 리스트:
    
    print('오늘의 메뉴 :', menu)

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

(💡hint: 문자열 덧셈 대신 print() 함수의 기능을 사용해서 다음과 같이 코드를 작성해도 좋습니다. print() 함수는 입력한 값을 한칸의 공백과 함께 이어붙여 출력합니다.)

In [11]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트: 
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

### 143
리스트에 주식 종목이름이 저장돼 있다.
```python
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```
저장된 문자열의 길이를 다음과 같이 출력하라.
```plain text
6
4
4
```
(💡hint: 문자열의 길이를 구하는 함수 len()을 사용합니다! 한 줄로 표현해도 좋고, 한 번에 코드를 작성하기 어렵다면 for문을 사용하지 않고 풀어서 코드를 작성해보세요.)

In [23]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    a = len(i)
    print(a)

6
4
4

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

**코드를 작성해주세요**

6
4
4

### 144
리스트에는 동물이름이 문자열로 저장돼 있다.
```python
리스트 = ['dog', 'cat', 'parrot']
```
동물 이름과 글자수를 다음과 같이 출력하라.
```plain text
dog 3
cat 3
parrot 6
```

In [25]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    a = len(i)
    print(i , a)

dog 3
cat 3
parrot 6

### 145
리스트에는 동물이름이 문자열로 저장돼 있다.
```python
리스트 = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```plain text
d
c
p
```

(💡hint: 어렵게 느껴진다면 for문을 사용하지 않고 코드를 작성해봅시다. 바인딩된 문자열의 인덱싱을 사용해서 첫 글자를 화면에 출력합니다. 이후에 for문을 사용하는 코드를 작성해봅시다. 변하는 값은 for문의 자료구조 자리에, 변하지 않는 코드는 들여쓰기 후에 작성합니다. 쉽죠?)

In [26]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    a = i[0]
    print(a)

d
c
p

### 146
리스트에는 세 개의 숫자가 바인딩돼 있다.
```python
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```plain text
3 x 1
3 x 2
3 x 3
```

(💡hint:  "3 x " 문자열과 숫자를 이어붙여 출력하면됩니다. 다만 변수에 바인딩된 값이 숫자이기 때문에 문자로 변환 후에 문자열 연산을 사용할 수 있습니다. 혹은 print() 함수가 제공하는 기능을 사용할 수 있습니다.)

In [30]:
리스트 = [1, 2, 3]

for i in 리스트:
    a = '3 '+ 'x ' + str(i)
    print( a)

3 x 1
3 x 2
3 x 3

In [ ]:
리스트 = [1, 2, 3]

**코드를 작성해주세요**

3 x 1
3 x 2
3 x 3

### 147
리스트에는 세 개의 숫자가 바인딩돼 있다.
```python
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```plain text
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

(💡hint:  어려워 보인다면, for문을 사용하지 않고 풀어서 코드를 작성해야 합니다. 핵심은 print() 함수에서 `3 * 변수` 부분입니다. 변수를 활용해서 원하는 값을 만들어 냈습니다. 값만 변하고 있기 때문에 쉽게 for문으로 작성할 수 있습니다. 1장에서 배운 문자열 함수(문자열 포맷팅)를 활용하면 코드가 더욱 읽기 쉬워집니다.)

In [38]:
리스트 = [1, 2, 3]

for i in 리스트:
    a = '3 '+'x '+ str(i)+' = ' + str(3*i)
    print(a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

### 148
리스트에는 네 개의 문자열이 바인딩돼 있다.
```python
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```plain text
나
다
라
```

(💡hint: 리스트의 슬라이싱을 사용해서 일부 데이터를 "나다라" 변수에 바인딩합니다. "나다라"에 바인딩 된 리스트로 for문을 사용하면 원하는 결과를 얻을 수 있습니다. `[1:]` 코드가 어색하다면 슬라이싱을 복습합시다.

리스트를 슬라이싱한 결과를 "리스트" 변수에 업데이트 할 수도 있습니다. 전체 값을 출력하는 코드에서 for문의 코드 변경없이 추가 코드만 한줄 작성합니다.

간단하니 for문 자료구조 자리에 슬라이싱 코드를 한번에 작성할 수도 있습니다.)

In [39]:
리스트 = ["가", "나", "다", "라"]
new_list = [ "나", "다", "라"]
for i in new_list:
    print(i)

나
다
라

### 149
리스트에는 네 개의 문자열이 바인딩돼 있다.
```python
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```plain text
가
다
```

(💡hint: 리스트 슬라이싱에서 `[시작:끝:증감폭] ` 세번째 값은 값을 가져오는 단위를 의미했습니다. 증감폭을 2로 설정해서 "가"와 "다" 값만 슬라이싱합니다.)

In [41]:
리스트 = ["가", "나", "다", "라"]
new_list = 리스트[0::2]
for i in new_list:
    print(i)

가
다

### 150
리스트에는 네 개의 문자열이 바인딩돼 있다.
```python
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```plain text
라
다
나
가
```

(💡hint: 증감폭을 음수로 설정하면 끝에서 앞방향으로 값을 슬라이싱합니다.)

In [43]:
리스트 = ["가", "나", "다", "라"]
new_list = 리스트[::-1]
for i in new_list:
    print(i)

라
다
나
가

### 151
리스트에는 네 개의 정수가 저장돼 있다.
```python
리스트 = [3, -20, -3, 44]
```
for문을 사용해서 리스트의 음수를 출력하라.
```plain text
-20
-3
```

(💡hint: 리스트에 저장된 모든 값에 접근해서 음수 여부를 판단해야 합니다. 라인 3을 제외하면 리스트에 저장된 모든 값을 출력하는 코드입니다. 라인 3의 분기문의 사용으로 모든 값을 출력하는 것이 아니라 조건이 참인 경우에만 if문의 들여쓰기된 코드가 실행됩니다.

인터프리터가 실행하는 순서를 정리해보면 다음과 같습니다. <br>
(변수 3 바인딩 - 분기문 비교:거짓) <br>
(변수 -20 바인딩 - 분기문 비교:참 - 코드 실행) <br>
(변수 -3 바인딩 - 분기문 비교:참 - 코드 실행) <br>
(변수 44 바인딩 - 분기문 비교:거짓))

In [45]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)
    else:
        pass

-20
-3

### 152
for문을 사용해서 3의 배수만을 출력하라.
```python
리스트 = [3, 100, 23, 44]
```
```plain text
3
```
(💡 hint: 3의 배수일 경우에만 값을 출력합니다. 3의 배수는 3으로 나눈 나머지가 0이면 3의 배수입니다. `변수 % 3`은 변수를 3으로 나눈 나머지를 의미합니다. 예를들어 `10 % 3`은 10을 3으로 나눈 나머지로 1을 반환합니다.)

In [47]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)
    else:
        pass

3

### 153
리스트에서 20 보다 작은 3의 배수를 출력하라
```python
리스트 = [13, 21, 12, 14, 30, 18]
```

```plain text
12
18
```

(💡hint: 하나 이상의 조건을 비교할 때는 논리 연산자를 사용해야겠죠? 두 조건이 모두 참일 때만 실행돼야 하므로 and 연산자를 사용합니다. 또한 코드의 가독성 향상을 위해 두 조건을 괄호로 구분할 수 있습니다. 괄호가 없어도 코드는 같은 동작을 합니다.)

In [48]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20:
        if i % 3 == 0:
            print(i)
        else:
            pass
    else:
        pass

12
18

### 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라
```python
리스트 = ["I", "study", "python", "language", "!"]
```
```plain text
study
python
language
```
(💡hint: 모든 문자열 중에서 문자열의 길이가 3이상인 문자열만 출력합니다. 문자열의 길이를 계산하는 len() 함수와 분기문을 사용합니다.)

In [49]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >2 :
        print(i)
    else:
        pass

study
python
language

### 155
리스트에서 대문자만 화면에 출력하라.
```python
리스트 = ["A", "b", "c", "D"]
```

```plain text
A
D
```
(💡hint: `isupper()` 메서드는 대문자 여부를 판별합니다.)

In [52]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)
    else:
        pass

A
D

### 156
리스트에서 소문자만 화면에 출력하라.
```python
리스트 = ["A", "b", "c", "D"]
```
```plain text
b
c
```

In [54]:
# 비교 연산자를 사용해서 표현할 수 있습니다.
리스트 = ["A", "b", "c", "D"]


for i in 리스트:
    if i.isupper():
        pass
    else:
        print(i)

b
c

In [55]:
# 논리 연산자 not을 사용할 수도 있습니다.
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if not i.isupper():
        print(i)
    else:
        pass

b
c

### 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

```python
리스트 = ['dog', 'cat', 'parrot']
```

```plain text
Dog
Cat
Parrot
```

(💡hint: `.upper()` 메서드는 문자열을 대문자로 변경합니다.)

In [58]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    첫글자 = 변수[0]                # 1) 인덱싱으로 첫번째 문자를 가져온다.
    대문자 = 첫글자.upper()          # 2) upper() 함수로 대문자로 변경한다.
    print(대문자 + 변수[1:])        # 3) 변경한 대문자와 나머지 문자를 이어붙인다.

Dog
Cat
Parrot

In [60]:
# 한 줄로 작성 가능
for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

### 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (💡 hint: `.split()` 메서드)

```python
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
```
```plain text
hello
ex01
intro
```

In [65]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    a = 변수.split('.')[0]
    print(a)

hello
ex01
intro

### 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
```python
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```plain text
intra.h
define.h
```

(💡hint: split() 메서드로 문자열을 분할하고 확장자가 "h"인지 분기문으로 비교합니다. 확장자가 "h"라면 파일 이름을 출력합니다.)

In [68]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split('.')
    if a[1] == 'h':
        print(i)
    else:
        pass

intra.h
define.h

### 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.
```python
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```plain text
intra.h
intra.c
define.h
```
(💡hint: 논리 연산자 or을 사용해서 두 개의 확장자를 비교합니다.)

In [69]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    a = i.split('.')
    if a[1] == 'h':
        print(i)
    elif a[1] =='c':
        print(i)
    else:
        pass

intra.h
intra.c
define.h

### 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

(💡 hint: range(3)은 0부터 2까지 세 개의 데이터를 만들어 줍니다.)

In [71]:
for i in range(99):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

### 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
```plain text
2002
2006
2010
...
2042
2046
2050
```
(💡 hint: range의 세번째 파라미터는 증감폭을 결정합니다.)

In [73]:
for i in range(2002,2050,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

### 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [74]:
for i in range(1,30):
    if i % 3 == 0:
        print(i)
    else:
        pass

3
6
9
12
15
18
21
24
27

### 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

(💡 hint: 뺄셈을 사용해서 원하는 결괏값을 얻어낼 수 있습니다.)

In [75]:
for i in range(99,1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

### 165
for문을 사용해서 아래와 같이 출력하라.
```plain text
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [78]:
for i in range(0,10):
    a = '0.'+str(i)
    print(a)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

### 166
구구단 3단을 출력하라.
```plain text
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [81]:
for i in range(1,10):
    a = '3 '+'x '+str(i)+ ' = ' + str(3*i)
    print(a)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
```plain text
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```
(💡hint: range(1, 10, 2)를 사용해서 홀수를 만들 수 있습니다. 혹은 조건문을 사용해서 해결할 수도 있습니다.)

In [82]:
num = 3
for i in range(1,10,2):
    a = '3 '+'x '+str(i)+ ' = ' + str(3*i)
    print(a)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [83]:
num = 3
for i in range(1,10):
    a = '3 '+'x '+str(i)+ ' = ' + str(3*i)
    if (3*i) % 2 !=0:
        print(a)
    else:
        pass

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

### 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
```plain text
합 : 55
```
(💡hint: hab 이라는 변수에 0을 저장하고, for 문을 통해 모든 값에 대해 누적합니다.) <br>
(💡hint: hab += i 는 hab = hab + i를 축약해서 작성한 것입니다.)

In [85]:
hab = 0
for i in range(1,11):
    hab += i
print(hab)

55

### 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
```plain text
합: 25
```

(💡hint: hab 이라는 변수에 0을 저장하고, for 문을 통해 모든 값에 대해 누적합니다. 이때 range의 세 번째 파라미터를 사용해서 range가 생성하는 수를 2씩 증가시킵니다.)

In [86]:
hab = 0
for i in range(1,11,2):
    hab += i
print(hab)

25

### 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

(💡hint: result *= i 는 result = result * i를 축약해서 작성한 것입니다.)

In [87]:
result = 1
for i in range(1,11):
    result *= i
print(result)

3628800

### 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```python
price_list = [32100, 32150, 32000, 32500]
```
```plain text
32100
32150
32000
32500
```

In [88]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [27]:
# len() 함수를 사용하면 price_list 가 변해도 코드의 수정이 필요없습니다. 아래가 더 좋은 코드입니다.
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

### 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```python
price_list = [32100, 32150, 32000, 32500]
```

```plain text
0 32100
1 32150
2 32000
3 32500
```

(💡hint: enumerate(리스트)는 리스트의 원소를 (인덱스, 값)의 형태로 반환하는 iterator입니다.)

In [89]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [90]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

### 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```python
price_list = [32100, 32150, 32000, 32500]
```

```plain text
3 32100
2 32150
1 32000
0 32500
```

In [91]:
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [30]:
# 3이라는 숫자보다는 일반적인 형태로 아래와 같이 코딩하는게 좋습니다.
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

### 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```python
price_list = [32100, 32150, 32000, 32500]
```

```plain text
100 32150
110 32000
120 32500
```

In [125]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4): 
    print(90 + i * 10, price_list[i])

100 32150
110 32000
120 32500

### 175
my_list를 아래와 같이 출력하라.
```python
my_list = ["가", "나", "다", "라"]
```
```plain text
가 나
나 다
다 라
```

In [135]:
my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    a = i+1
    print(my_list[i], my_list[a])

가 나
나 다
다 라

### 176
리스트를 아래와 같이 출력하라.
```python
my_list = ["가", "나", "다", "라", "마"]
```
```plain text
가 나 다
나 다 라
다 라 마
```

In [136]:
my_list = ["가", "나", "다", "라", "마"]


for i in range(0,3):
    a = i+1
    print(my_list[i], my_list[a], my_list[a+1])

가 나 다
나 다 라
다 라 마

### 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
```python
my_list = ["가", "나", "다", "라"]
```
```plain text
라 다
다 나
나 가
```
(💡hint: 인덱스를 만들어내는 방법에 따라 답은 여러개가 될 수 있습니다.)

In [144]:
my_list = ["가", "나", "다", "라"]


for i in range(3,0,-1):
    a = i-1
    print(my_list[i], my_list[a])

라 다
다 나
나 가

### 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
```python
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

```plain text
100
200
400
```

In [146]:
my_list = [100, 200, 400, 800]




for i in range(0,3):
    a = - my_list[i] + my_list[i+1]
    print(a)

100
200
400

### 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
```python
my_list = [100, 200, 400, 800, 1000, 1300]
```

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

```plain text
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [149]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0,4):
    a = (my_list[i] + my_list[i+1]+my_list[i+2])/3
    print(a)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

```python
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [150]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(0,4):
    a = high_prices[i]-low_prices[i]
    volatility.append(a)
    
print(volatility)

[50, 100, 30, 80]

### 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
|101호|102호|
|---|---|
|201호|202호|
|301호|302호|

In [160]:
apart = []
apart
floor = [101,201,301]
for i in  [101,201,301]:
    
    for a in  range(i,i+1):
        a = [str(i) +'호', str(i+1) +'호']
        apart.append(a)
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

### 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.
|시가|종가|
|---|---|
|100|80|
|200|210|
|300|330|

In [ ]:
stock = ***
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [190]:
stock = [100,200,300,80,210,330]

for i in range(0,2):
    if i == 0:
        a = ['시가', 100,200,300]
    elif i !=0:
        b = ['종가', 80,210,330]
    else:
        pass
    c = [a,b]
print(c)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183
아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
|시가|종가|
|---|---|
|100|80|
|200|210|
|300|330|

In [ ]:
stock = ***
stock
stock = [100,200,300,80,210,330]

for i in range(0,2):
    if i == 0:
        a = ['시가', 100,200,300]
    elif i !=0:
        b = ['종가', 80,210,330]
    else:
        pass
    c = [a,b]
print(c)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

### 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

|10/10|80|110|70|90|
|---|---|---|---|---|
|10/11|210|230|190|200|

In [3]:

stock = {
    '시가': [100, 200, 300],
    '종가': [80, 210, 330]
}
print(stock['시가'])  
print(stock['종가'])

[100, 200, 300]
[80, 210, 330]

### 185
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
101 호
102 호
201 호
202 호
301 호
302 호
```

In [4]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for a in i:
        print(a, '호')

101 호
102 호
201 호
202 호
301 호
302 호

### 186
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
301 호
302 호
201 호
202 호
101 호
102 호
```

In [6]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in reversed(apart):
    for a in i:
        print(a, '호')

301 호
302 호
201 호
202 호
101 호
102 호

### 187
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
302 호
301 호
202 호
201 호
102 호
101 호
```

In [7]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in reversed(apart):
    for a in reversed(i):
        print(a, '호')

302 호
301 호
202 호
201 호
102 호
101 호

### 188
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----
```

In [9]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in (apart):
    for a in i:
        print(a, '호','\n -----')

101 호
 -----
102 호
 -----
201 호
 -----
202 호
 -----
301 호
 -----
302 호
 -----

### 189
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----
```

In [11]:
apart = [ [101, 102], [201, 202], [301, 302] ]

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in (apart):
    for a in i:
        print(a, '호')
    print('\n -----')

101 호
102 호

 -----
201 호
202 호

 -----
301 호
302 호

 -----

### 189
리스트에 저장된 데이터를 아래와 같이 출력하라.
```python
apart = [ [101, 102], [201, 202], [301, 302] ]
```
```plain text
101 호
102 호
201 호
202 호
301 호
302 호
-----
```

In [14]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in (apart):
    for a in i:
        print(a, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

### 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
```python
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
```
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
```plain text
2000.28
3050.427
2050.2870000000003
...
```

In [22]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


for i in data:
    for a in i:
        vals_final = a + float(f"{a*(14/100000):.2f}")
        print(vals_final)

2000.28
3050.43
2050.29
1980.28
7501.05
2050.29
2050.29
1980.28
15452.16
15052.11
15552.18
14902.09

### 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.
```plain text
2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
```

In [23]:


data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


for i in data:
    for a in i:
        vals_final = a + float(f"{a*(14/100000):.2f}")
        print(vals_final)
    print('----')

2000.28
3050.43
2050.29
1980.28
----
7501.05
2050.29
2050.29
1980.28
----
15452.16
15052.11
15552.18
14902.09
----

### 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
```plain text
>> print(result)
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
```

In [25]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for a in i:
        vals_final = a + float(f"{a*(14/100000):.2f}")
        result.append(vals_final)





print(result)

[2000.28, 3050.43, 2050.29, 1980.28, 7501.05, 2050.29, 2050.29, 1980.28, 15452.16, 15052.11, 15552.18, 14902.09]

### 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.
```plain text
>> print(result)
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
```

In [36]:

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
b = []
for i in data:
    b = []
    for a in i:
        vals_final = a + float(f"{a*(14/100000):.2f}")
        b.append(vals_final)
    result.append(b)
    


print(result)

[[2000.28, 3050.43, 2050.29, 1980.28], [7501.05, 2050.29, 2050.29, 1980.28], [15452.16, 15052.11, 15552.18, 14902.09]]

### 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```
```plain text
100
190
310
```

In [53]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    
        print(i[-1])

100
190
310

### 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```
```plain text
190
310
```

In [54]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for i in ohlc[1:]:
    if i[-1] >150:
        print(i[-1])

190
310

### 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```
```plain text
100
310
```

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for i in ohlc[1:]:
    if i[-1] >= i[0]:
        print(i[-1])

100
310

### 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
>> print(volatility)
```
```plain text
[40, 30, 10]

```

In [56]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


volatility = []

for i in ohlc[1:]:
    a =  i[1] - i[2]
    volatility.append(a)
        

print(volatility)

[40, 30, 10]

In [84]:
# range 구문을 이용해서도 문제를 풀 수 있습니다.
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

### 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```
종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.
```plain text
10
```

In [58]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[-1] > i[0]:
        a =  i[1] - i[2]
        print(a)

10

### 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
```python
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
```

1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.
```plain text
0
```

In [61]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for i in ohlc[1:]:
        a=  i[-1] - i[0]
        profit += a





print(profit)

0