## 09. 파이썬 함수

**함수**란 **자주 사용하는 코드에 대한 이름표**입니다. \
변수가 어떤 값을 바인딩하는 것처럼 함수는 어떤 코드를 바인딩합니다.

### 201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라. \
(💡 함수를 정의할 때에는 `def 함수명(매개변수):` 를 사용할 수 있습니다. def는 define(정의하다)의 약자! 함수에 매개변수가 필요하지 않으면 괄호 안을 비워두면 됩니다.)

In [ ]:
**여기에 입력해주세요**

### 202
201번에서 정의한 함수를 호출하라.

In [ ]:
**여기에 입력해주세요**

비트코인

### 203
201번에서 정의한 print_coin 함수를 100번 호출하라. \
(💡hint: 반복문을 쓰면 되겠죠?)

In [ ]:
**여기에 입력해주세요**

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

### 204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라. \
(💡hint: 이번에는 함수 내에서 반복문을 쓰면 되겠죠?)

In [ ]:
**여기에 입력해주세요**

### 205
아래의 에러가 발생하는 이유에 대해 설명하라. 
```python
hello()
def hello():
    print("Hi")
```

```plain text
실행 예
NameError: name 'hello' is not defined
```

정답: 

**여기에 입력해주세요**

### 206
아래 코드의 실행 결과를 예측하라.
```python
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```
(💡hint: markdown에서 줄바꿈하기 위해서는 \\ 를 쓰고 엔터하거나 2번 엔터하면 됩니다. \
예를 들어 

A \
B를 하고 싶다면, 

```
A \
B
```
로 쓰면 됩니다)

정답:
**여기에 입력해주세요**

###

### 207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```python
print("A")

def message() :
    print("B")

print("C")
message()
```

정답:

**여기에 입력해주세요**

### 208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```python
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

정답:

**여기에 입력해주세요**

### 209
아래 코드의 실행 결과를 예측하라.

```python
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

정답:

**여기에 입력해주세요**

### 210
아래 코드의 실행 결과를 예측하라.
```python
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
```

정답:

**여기에 입력해주세요**

### 211
함수의 호출 결과를 예측하라.

```python
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

```

정답:

**여기에 입력해주세요**

### 212
함수의 호출 결과를 예측하라.

```python
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

정답:

**여기에 입력해주세요**

### 213
아래와 같은 에러가 발생하는 원인을 설명하라.

```python
def 함수(문자열) :
    print(문자열)
```


[에러 메시지]
```plain text
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
```

정답: **여기에 입력해주세요**

### 214
아래와 같은 에러가 발생하는 원인을 설명하라.

```python
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```


[에러 메시지]
```plain text
TypeError: must be str, not int
```

정답: **여기에 입력해주세요**

### 215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**

### 216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
**여기에 입력해주세요**

안녕하세요:D

### 217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**


현재가격=3000
print_upper_price(현재가격)

3900.0

### 218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**

num1 = 3
num2 = 8
print_sum(num1, num2)

11

### 219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

```python
print_arithmetic_operation(3, 4)
```

[결과]
```plain text
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

```

In [ ]:
**여기에 입력해주세요**

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

### 220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
**여기에 입력해주세요**

print_max(12, 10, 5)
print_max(10, 12, 5)
print_max(5, 10, 12)

12
12
12

### 221
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.\
(💡hint: 슬라이싱을 사용하여 문자열을 역순으로 얻어올 수 있었죠?)

In [ ]:
**여기에 입력해주세요**


print_reverse("python")

nohtyp

### 222
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**
    
print_score([1,2,3])

2.0

### 223
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

### 224
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

In [ ]:
**여기에 입력해주세요**

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

### 225
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다. \
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
            "10/27" : [10, 12, 10, 11]}

**여기에 입력해주세요**

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

### 226
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

In [ ]:
**여기에 입력해주세요**

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

### 227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

In [ ]:
**여기에 입력해주세요**

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

### 228
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

(💡hint: 1원 미만을 버림하려면 어떤 자료형으로 변환해야 할까요? 입력된 값을 12로 나눈 후 형변환을 해서 1원 미만을 절사하면 되겠죠?)

In [ ]:
**여기에 입력해주세요**

calc_monthly_salary(12000000)

1000000

### 229
아래 코드의 실행 결과를 예측하라.
```python
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
```

정답


**여기에 입력해주세요**

### 230
아래 코드의 실행 결과를 예측하라.
```python
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
```

정답:


**여기에 입력해주세요**

### 231
아래 코드의 실행 결과를 예측하라.
```python
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
```

정답:

**여기에 입력해주세요**

### 232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라. \
(💡hint: 문자열의 앞에는 www.를 붙여주고, 뒤에는 .com을 붙여주세요)

In [ ]:
**여기에 입력해주세요**

make_url("naver")

'www.naver.com'

### 233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

In [ ]:
# 비어있는 리스트에 .append() 메서드를 통해 문자열을 하나씩 추가합니다. 이어서 리스트를 반환 (return) 합니다.
**여기에 입력해주세요**

make_list("abcd")

['a', 'b', 'c', 'd']

In [27]:
# 문자열을 list로 형변환하면 쉽게 문제를 해결할 수 있습니다.
def make_list (string) :
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

### 234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

In [ ]:
**여기에 입력해주세요**

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

### 235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.\
(💡hint: 콤마를 빈 문자열로 바꾼 후, 정수로 형변환하면 되겠죠? \
문자열을 바꿀 때에는 `.replace(바꾸기 전 문자열, 바꿀 문자열)`를 사용할 수 있습니다.)

In [ ]:
**여기에 입력해주세요**

convert_int("1,234,567")

1234567

### 236
아래 코드의 실행 결과를 예측하라.

```python
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

정답: **여기에 입력해주세요**

### 237
아래 코드의 실행 결과를 예측하라.

```python
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

정답: **여기에 입력해주세요**

### 238
아래 코드의 실행 결과를 예측하라.

```python
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

정답: **여기에 입력해주세요**

### 239
아래 코드의 실행 결과를 예측하라.
```python
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

```

정답: **여기에 입력해주세요**

### 240
아래 코드의 실행 결과를 예측하라.
```python
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

정답: **여기에 입력해주세요**